
    <div class="container">
        
            @*<div class="logo pull-left">
                <a href="~/" title="资料书">
                    <img src="images/ziliaoshulogowhite.png" alt="ZiLiaoShu" />
                </a>
            </div>*@
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2015 资料书</p>
            </div>
        </div>