<div class="topnav hidden-xs">
    <div class="container">
        <ul class="quick-menu pull-left">
            <li><a href="#" class="soap-popupbox">我的资料书</a></li>
            @*<li class="ribbon">
                <a href="#">English</a>
                <ul class="menu mini">
                    <li class="active"><a href="#" title="English">English</a></li>
                </ul>
            </li>*@
        </ul>
        <ul class="quick-menu pull-right">
            <li><a href="#Ailvw-login" class="soap-popupbox">登陆</a></li>
            <li><a href="#Ailvw-signup" class="soap-popupbox">注册</a></li>
            @*<li class="ribbon currency">
                <a href="#" title="">USD</a>
                <ul class="menu mini">
                    <li class="active"><a href="#" title="USD">USD</a></li>
                </ul>
            </li>*@
        </ul>
    </div>
</div>