
<article>
    <h2>
        资料书(ziliaoshu.com)
    </h2>
    <p>
        这是个公益平台，本着共享的理念，推动社会文明进步，让生活更简单，享受查找资料便捷；我们在努力着，让天下没有难找的信息，人活着就该时刻对社会分享经验和力量，不一样的的体验人生，希望大家一起加入！
        
    </p>
</article>
