@{
    ViewBag.Title = "copyright";
}

<div>
    <h2>
        内容及版权声明
    </h2>
    <article>

        <p>
            本站内容均来自网友提供，如有对显示提供的内容有疑问，请联系service@ziliaoshu.com！我们将第一时间对疑问进行处理。

        </p>
        <p>如果您认为资料书网的用户通过资料书网提供的信息存储空间所上载、传播的内容侵犯了您的相关权益的，请您向资料书网发出权利通知，资料书网将根据相关法律规定采取措施删除相关内容，您可以向我们所设立的专门接受版权投诉和侵权通知的邮箱(service@ziliaoshu.com)发送通知。</p>
    </article>
</div>